.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;  // behind all element
    opacity: .15;
    overflow: hidden; // если видео за блок ушло и obkect-fit не помогло

    &__content {
        height: 100%;
        width: 100%;

        // видео стает размером с блок
        object-fit: cover;
    }
}