.sidebar {
    background-color: $color-primary;
    
    //take names from _base.scss
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;   // колонка по высоте занимает всю страницу с конентом
}